@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

{
margin: 0;
padding: 0;
font-family: 'Poppins', sans-serif;
}
body
{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background:#fff;
}

.Farmers
{
    position: absolute;
    left: 500px;
    display: inline-block;
    padding: 12px 36px;
    margin: 10px;
    height: 100px;
    width: 100px;
    color:rgb(15, 0, 0);
    background:linear-gradient(-45deg, #03c04a 0%, #03ac13 100%);
    border-radius:50%;
    text-align:end;
    font-size: 18px;
    text-decoration: none;
    letter-spacing: 2px;
    overflow: hidden;
}

span
{
   position: absolute;
   background: rgb(42, 27, 177);
   transform: translate(-50%,-50%);
   pointer-events: none;
   border-radius: 50%;
   animation: animate 0.31s linear;
}

@keyframes animate
{
    0%
    {
        width: 0;
        height: 0;
        opacity: 0.2;;

    }
    
    100%
    {
        width: 500px;
        height: 500px;
        opacity: 0.2;;

    }
}

.Buyers
{
    position: absolute;
    right: 500px;
    display: inline-block;
    padding: 12px 36px;
    margin: 10px;
    color:rgb(15, 0, 0);
    background:linear-gradient(-45deg, #03c04a 0%, #03ac13 100%);
    border-radius: 1000px;
    font-size: 18px;
    text-decoration: none;
    letter-spacing: 2px;
    overflow: hidden;
}

span
{
   position: absolute;
   background: rgb(42, 27, 177);
   transform: translate(-50%,-50%);
   pointer-events: none;
   border-radius: 50%;
   animation: animate 0.31s linear;
}

@keyframes animate
{
    0%
    {
        width: 0;
        height: 0;
        opacity: 0.2;;

    }
    
    100%
    {
        width: 500px;
        height: 500px;
        opacity: 0.2;;

    }
}